{% extends "Site/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-2 text-center">
            <h1 class="display-4">About Us!</h1>
            <p class="lead">Students Trying to Learn Frameworks!</p>
            <ul>
                <li>
                    <p class="text-muted text-left">Samuel Schneider is a student at UNO trying to earn a CS degree.</p>
                </li>
                <li>
                    <p class="text-muted text-left">Bradley Corwin is a student at UNO trying to earn a CS degree.</p>
                </li>
                <li>
                    <p class="text-muted text-left">Parker Zbylut is a student at UNO trying to earn a CS degree.</p>
                </li>
                <li>
                    <p class="text-muted text-left">Louise Casale is a student at UNO trying to earn a CS degree.</p>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock content %}