{% extends "Site/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <div id="formset">
        {{ formset.management_form }}
        {% for form in formset %}
        {{ form|crispy }}
        {% endfor %}
    </div>
    <button class="btn btn-outline-info" type="submit">Calculate</button>
</form>
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // ... Your JavaScript code ...
</script>
{% endblock extra_js %}
