{% extends "Site/base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3 text-justify">
      <div>
        <h1 class="display-4">Our Service!</h1>
        <p class="lead">How to utilize our product to make your life better</p>
      </div>

      <div>
        <br />
        <p>
          This service will allow you to estimate the volume of paint that you
          will need to complete your painting jobs. This may be used by anyone
          who has a need! We intended this to be utilized by both professionals
          and amateurs alike. We hope that this service will help you to save
          time and money by reducing the amount of paint that you need to
          purchase.
        </p>
        <br />
        <p>
          To use this service, you will need to create an account. This will
          allow you to save your calculations and access them at a later date.
          You will be able to access your projects from any device that has
          internet access. You will also be able to access your projects from
          any browser that you choose to use. This service is designed to be
          used on a desktop computer, but it will work on mobile devices as
          well.
        </p>
        <br />
        <p>
          First, you must make an account. Next, you can select the "Calculate
          Paint Neede" button in the menu bar to start your first calculation.
          On this page, you will be able to enter the dimensions of the room
          that you are trying to paint. We accomodate the inclusion of window
          and door values as well so that you can exclude their area from the
          calculation if you choose. We are proud to announce that you can
          choose between US standard units or the metric system. Once you have
          entered the dimensions of the room, you can press the "Calculate"
          button to see the results of your calculation. The volume of paint
          that you will need will is stored in your profile information,
          allowing you to calculate the paint required to paint multiple rooms
          all as part of a single project. You can find this total volume by
          selecting the "Profile" button in the menu bar. In your Profile page,
          you will be able to see the sum total of paint that you will need to
          complete all of your projects. Once you have finished your project,
          you can reset your calculated volume to 0 so that you can use this
          service again for future projects.
        </p>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
